<a href="https://colab.research.google.com/github/Aditichintamani/Python_sample_case_study/blob/main/Pandas_Medium_difficulty.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. List the top 3 users who accumulated the most sessions. Include only the user who had more streaming sessions than viewing. Return the user_id, number of streaming sessions, and number of viewing sessions.**

In [5]:
import pandas as pd
from io import StringIO

data = """user_id\tsession_start\tsession_end\tsession_id\tsession_type
0\t2020-08-11 05:51:31\t2020-08-11 05:54:45\t539\tstreamer
2\t2020-07-11 03:36:54\t2020-07-11 03:37:08\t840\tstreamer
3\t2020-11-26 11:41:47\t2020-11-26 11:52:01\t848\tstreamer
1\t2020-11-19 06:24:24\t2020-11-19 07:24:38\t515\tviewer
2\t2020-11-14 03:36:05\t2020-11-14 03:39:19\t646\tviewer
0\t2020-03-11 03:01:40\t2020-03-11 03:01:59\t782\tstreamer
0\t2020-08-11 03:50:45\t2020-08-11 03:55:59\t815\tviewer
3\t2020-10-11 22:15:14\t2020-10-11 22:18:28\t630\tviewer
1\t2020-11-20 06:59:57\t2020-11-20 07:20:11\t907\tstreamer
2\t2020-07-11 14:32:19\t2020-07-11 14:42:33\t949\tviewer
4\t2020-08-11 15:32:19\t2020-08-11 16:42:33\t818\tviewer
5\t2020-12-20 07:59:57\t2020-12-20 08:52:57\t619\tstreamer
6\t2020-12-25 08:02:38\t2020-12-25 08:36:42\t832\tstreamer
6\t2020-08-12 15:44:19\t2020-08-12 16:42:19\t762\tstreamer
6\t2020-11-24 07:59:57\t2020-11-24 08:16:57\t760\tstreamer
6\t2020-08-14 05:50:45\t2020-08-14 06:42:45\t544\tviewer
7\t2020-11-18 04:36:05\t2020-11-18 04:43:05\t906\tstreamer
7\t2020-08-14 05:50:45\t2020-08-14 06:27:45\t645\tstreamer
7\t2020-08-11 15:32:19\t2020-08-11 16:22:19\t817\tviewer"""

# Convert string data into a pandas DataFrame
df = pd.read_csv(StringIO(data), sep="\t")

# Convert datetime columns
df["session_start"] = pd.to_datetime(df["session_start"])
df["session_end"] = pd.to_datetime(df["session_end"])

# Display the DataFrame
print(df)

    user_id       session_start         session_end  session_id session_type
0         0 2020-08-11 05:51:31 2020-08-11 05:54:45         539     streamer
1         2 2020-07-11 03:36:54 2020-07-11 03:37:08         840     streamer
2         3 2020-11-26 11:41:47 2020-11-26 11:52:01         848     streamer
3         1 2020-11-19 06:24:24 2020-11-19 07:24:38         515       viewer
4         2 2020-11-14 03:36:05 2020-11-14 03:39:19         646       viewer
5         0 2020-03-11 03:01:40 2020-03-11 03:01:59         782     streamer
6         0 2020-08-11 03:50:45 2020-08-11 03:55:59         815       viewer
7         3 2020-10-11 22:15:14 2020-10-11 22:18:28         630       viewer
8         1 2020-11-20 06:59:57 2020-11-20 07:20:11         907     streamer
9         2 2020-07-11 14:32:19 2020-07-11 14:42:33         949       viewer
10        4 2020-08-11 15:32:19 2020-08-11 16:42:33         818       viewer
11        5 2020-12-20 07:59:57 2020-12-20 08:52:57         619     streamer
12        6 2020-12-25 08:02:38 2020-12-25 08:36:42         832     streamer
13        6 2020-08-12 15:44:19 2020-08-12 16:42:19         762     streamer
14        6 2020-11-24 07:59:57 2020-11-24 08:16:57         760     streamer
15        6 2020-08-14 05:50:45 2020-08-14 06:42:45         544       viewer
16        7 2020-11-18 04:36:05 2020-11-18 04:43:05         906     streamer
17        7 2020-08-14 05:50:45 2020-08-14 06:27:45         645     streamer
18        7 2020-08-11 15:32:19 2020-08-11 16:22:19         817       viewer

In [6]:
user_data = df.groupby(['user_id','session_type'])['session_id'].count().reset_index().rename({"session_id":'Number_of_sessions'},axis=1)
pivot_user = user_data.pivot(values='Number_of_sessions',index='user_id',columns='session_type').reset_index()
pivot_user.fillna(0,inplace=True)
pivot_user['Total Sessions'] = pivot_user['streamer']+pivot_user['viewer']
pivot_user[pivot_user['streamer']>pivot_user['viewer']].sort_values(by='Total Sessions',ascending=False)['user_id'].head(3)

6    6
0    0
7    7
Name: user_id, dtype: int64

**2. Which hour has the highest average order volume per day? Your output should have the hour which satisfies that condition, and average order volume.**

In [39]:
# Creating DataFrame for order data
df_orders = pd.DataFrame({
    'id': range(1, 21),
    'customer_id': [102, 104, 100, 101, 103, 102, 103, 101, 101, 103, 102, 104, 100, 100, 104, 102, 102, 100, 104, 101],
    'courier_id': [224, 224, 239, 205, 218, 201, 205, 246, 218, 211, 223, 211, 204, 231, 246, 231, 246, 205, 204, 231],
    'seller_id': [79, 75, 79, 79, 71, 77, 79, 77, 79, 77, 79, 77, 71, 79, 75, 77, 79, 77, 77, 75],
    'order_timestamp_utc': pd.to_datetime([
        '2019-03-11 23:27:00', '2019-04-11 04:24:00', '2019-03-11 21:17:00', '2019-03-11 02:34:00',
        '2019-04-11 00:15:00', '2019-03-11 18:22:00', '2019-04-11 11:15:00', '2019-03-11 04:12:00',
        '2019-03-11 08:59:00', '2019-03-11 00:22:00', '2019-03-11 10:44:00', '2019-03-11 01:37:00',
        '2019-03-11 07:00:00', '2019-03-11 03:12:00', '2019-04-11 08:52:00', '2019-03-11 08:26:00',
        '2019-04-11 01:15:00', '2019-03-11 03:10:00', '2019-04-11 08:14:00', '2019-04-11 10:49:00'
    ]),
    'amount': [155.73, 216.6, 168.69, 210.84, 212.6, 220.83, 94.86, 86.15, 75.52, 15.85, 59.69, 153.61, 190.29, 115.45, 225.91, 158.68, 62.72, 125.65, 129.75, 105.07],
    'city_id': [47, 44, 47, 43, 47, 47, 49, 49, 43, 49, 49, 44, 43, 49, 47, 43, 49, 49, 44, 43]
})

In [40]:
df_orders['order_timestamp']=df_orders['order_timestamp_utc'].dt.tz_localize('UTC').dt.tz_convert('US/Central')

In [61]:
df_orders['hour_of_day']=df_orders.order_timestamp_utc.dt.hour
df_orders['date_of_month']=df_orders.order_timestamp_utc.dt.date
df_orders['date_of_month']=df_orders['date_of_month'].astype('datetime64[ns]')
agg_data = df_orders.groupby(['date_of_month','hour_of_day'])['id'].count().reset_index().rename({'id':'order_count'},axis=1)
agg_data.groupby('hour_of_day')['order_count'].mean().reset_index().sort_values(by='order_count',ascending=False).head(1)

   hour_of_day  order_count
3            3          2.0

**3. What cities recorded the largest growth and biggest drop in order amount between March 11, 2019, and April 11, 2019. Just compare order amounts on those two dates. Your output should include the names of the cities and the amount of growth/drop.**

------------------------------------------------------------------------------------

In [96]:
agg_data = df_orders.groupby(['city_id','date_of_month'])['amount'].sum().reset_index()
agg_data['previous_amount']=agg_data.groupby(['city_id'])['amount'].shift()
final_data = agg_data[~agg_data['previous_amount'].isna()]
final_data['delta']=100*(final_data['amount']-final_data['previous_amount'])/final_data['previous_amount']

<ipython-input-96-f2c9213fbc75>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['delta']=100*(final_data['amount']-final_data['previous_amount'])/final_data['previous_amount']

In [99]:
largest_growth = final_data[final_data['delta']==final_data['delta'].max()]['city_id']
biggest_drop = final_data[final_data['delta']==final_data['delta'].min()]['city_id']

In [100]:
biggest_drop

1    43
Name: city_id, dtype: int64

In [101]:
largest_growth

3    44
Name: city_id, dtype: int64