<a href="https://colab.research.google.com/github/Aditichintamani/Python_sample_case_study/blob/main/Pandas_Medium_difficulty.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. List the top 3 users who accumulated the most sessions. Include only the user who had more streaming sessions than viewing. Return the user_id, number of streaming sessions, and number of viewing sessions.**

In [11]:
import pandas as pd
from io import StringIO

data = """user_id\tsession_start\tsession_end\tsession_id\tsession_type
0\t2020-08-11 05:51:31\t2020-08-11 05:54:45\t539\tstreamer
2\t2020-07-11 03:36:54\t2020-07-11 03:37:08\t840\tstreamer
3\t2020-11-26 11:41:47\t2020-11-26 11:52:01\t848\tstreamer
1\t2020-11-19 06:24:24\t2020-11-19 07:24:38\t515\tviewer
2\t2020-11-14 03:36:05\t2020-11-14 03:39:19\t646\tviewer
0\t2020-03-11 03:01:40\t2020-03-11 03:01:59\t782\tstreamer
0\t2020-08-11 03:50:45\t2020-08-11 03:55:59\t815\tviewer
3\t2020-10-11 22:15:14\t2020-10-11 22:18:28\t630\tviewer
1\t2020-11-20 06:59:57\t2020-11-20 07:20:11\t907\tstreamer
2\t2020-07-11 14:32:19\t2020-07-11 14:42:33\t949\tviewer
4\t2020-08-11 15:32:19\t2020-08-11 16:42:33\t818\tviewer
5\t2020-12-20 07:59:57\t2020-12-20 08:52:57\t619\tstreamer
6\t2020-12-25 08:02:38\t2020-12-25 08:36:42\t832\tstreamer
6\t2020-08-12 15:44:19\t2020-08-12 16:42:19\t762\tstreamer
6\t2020-11-24 07:59:57\t2020-11-24 08:16:57\t760\tstreamer
6\t2020-08-14 05:50:45\t2020-08-14 06:42:45\t544\tviewer
7\t2020-11-18 04:36:05\t2020-11-18 04:43:05\t906\tstreamer
7\t2020-08-14 05:50:45\t2020-08-14 06:27:45\t645\tstreamer
7\t2020-08-11 15:32:19\t2020-08-11 16:22:19\t817\tviewer"""

# Convert string data into a pandas DataFrame
df = pd.read_csv(StringIO(data), sep="\t")

# Convert datetime columns
df["session_start"] = pd.to_datetime(df["session_start"])
df["session_end"] = pd.to_datetime(df["session_end"])

# Display the DataFrame
print(df)

    user_id       session_start         session_end  session_id session_type
0         0 2020-08-11 05:51:31 2020-08-11 05:54:45         539     streamer
1         2 2020-07-11 03:36:54 2020-07-11 03:37:08         840     streamer
2         3 2020-11-26 11:41:47 2020-11-26 11:52:01         848     streamer
3         1 2020-11-19 06:24:24 2020-11-19 07:24:38         515       viewer
4         2 2020-11-14 03:36:05 2020-11-14 03:39:19         646       viewer
5         0 2020-03-11 03:01:40 2020-03-11 03:01:59         782     streamer
6         0 2020-08-11 03:50:45 2020-08-11 03:55:59         815       viewer
7         3 2020-10-11 22:15:14 2020-10-11 22:18:28         630       viewer
8         1 2020-11-20 06:59:57 2020-11-20 07:20:11         907     streamer
9         2 2020-07-11 14:32:19 2020-07-11 14:42:33         949       viewer
10        4 2020-08-11 15:32:19 2020-08-11 16:42:33         818       viewer
11        5 2020-12-20 07:59:57 2020-12-20 08:52:57         619     streamer
12        6 2020-12-25 08:02:38 2020-12-25 08:36:42         832     streamer
13        6 2020-08-12 15:44:19 2020-08-12 16:42:19         762     streamer
14        6 2020-11-24 07:59:57 2020-11-24 08:16:57         760     streamer
15        6 2020-08-14 05:50:45 2020-08-14 06:42:45         544       viewer
16        7 2020-11-18 04:36:05 2020-11-18 04:43:05         906     streamer
17        7 2020-08-14 05:50:45 2020-08-14 06:27:45         645     streamer
18        7 2020-08-11 15:32:19 2020-08-11 16:22:19         817       viewer

In [12]:
user_data = df.groupby(['user_id','session_type'])['session_id'].count().reset_index().rename({"session_id":'Number_of_sessions'},axis=1)
pivot_user = user_data.pivot(values='Number_of_sessions',index='user_id',columns='session_type').reset_index()
pivot_user.fillna(0,inplace=True)
pivot_user['Total Sessions'] = pivot_user['streamer']+pivot_user['viewer']
pivot_user[pivot_user['streamer']>pivot_user['viewer']].sort_values(by='Total Sessions',ascending=False)['user_id'].head(3)

6    6
0    0
7    7
Name: user_id, dtype: int64

**2. Which hour has the highest average order volume per day? Your output should have the hour which satisfies that condition, and average order volume.**

In [13]:
# Creating DataFrame for order data
df_orders = pd.DataFrame({
    'id': range(1, 21),
    'customer_id': [102, 104, 100, 101, 103, 102, 103, 101, 101, 103, 102, 104, 100, 100, 104, 102, 102, 100, 104, 101],
    'courier_id': [224, 224, 239, 205, 218, 201, 205, 246, 218, 211, 223, 211, 204, 231, 246, 231, 246, 205, 204, 231],
    'seller_id': [79, 75, 79, 79, 71, 77, 79, 77, 79, 77, 79, 77, 71, 79, 75, 77, 79, 77, 77, 75],
    'order_timestamp_utc': pd.to_datetime([
        '2019-03-11 23:27:00', '2019-04-11 04:24:00', '2019-03-11 21:17:00', '2019-03-11 02:34:00',
        '2019-04-11 00:15:00', '2019-03-11 18:22:00', '2019-04-11 11:15:00', '2019-03-11 04:12:00',
        '2019-03-11 08:59:00', '2019-03-11 00:22:00', '2019-03-11 10:44:00', '2019-03-11 01:37:00',
        '2019-03-11 07:00:00', '2019-03-11 03:12:00', '2019-04-11 08:52:00', '2019-03-11 08:26:00',
        '2019-04-11 01:15:00', '2019-03-11 03:10:00', '2019-04-11 08:14:00', '2019-04-11 10:49:00'
    ]),
    'amount': [155.73, 216.6, 168.69, 210.84, 212.6, 220.83, 94.86, 86.15, 75.52, 15.85, 59.69, 153.61, 190.29, 115.45, 225.91, 158.68, 62.72, 125.65, 129.75, 105.07],
    'city_id': [47, 44, 47, 43, 47, 47, 49, 49, 43, 49, 49, 44, 43, 49, 47, 43, 49, 49, 44, 43]
})

In [14]:
df_orders['order_timestamp']=df_orders['order_timestamp_utc'].dt.tz_localize('UTC').dt.tz_convert('US/Central')

In [15]:
df_orders['hour_of_day']=df_orders.order_timestamp_utc.dt.hour
df_orders['date_of_month']=df_orders.order_timestamp_utc.dt.date
df_orders['date_of_month']=df_orders['date_of_month'].astype('datetime64[ns]')
agg_data = df_orders.groupby(['date_of_month','hour_of_day'])['id'].count().reset_index().rename({'id':'order_count'},axis=1)
agg_data.groupby('hour_of_day')['order_count'].mean().reset_index().sort_values(by='order_count',ascending=False).head(1)

   hour_of_day  order_count
3            3          2.0

**3. What cities recorded the largest growth and biggest drop in order amount between March 11, 2019, and April 11, 2019. Just compare order amounts on those two dates. Your output should include the names of the cities and the amount of growth/drop.**

------------------------------------------------------------------------------------

In [16]:
agg_data = df_orders.groupby(['city_id','date_of_month'])['amount'].sum().reset_index()
agg_data['previous_amount']=agg_data.groupby(['city_id'])['amount'].shift()
final_data = agg_data[~agg_data['previous_amount'].isna()]
final_data['delta']=100*(final_data['amount']-final_data['previous_amount'])/final_data['previous_amount']

<ipython-input-16-f2c9213fbc75>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['delta']=100*(final_data['amount']-final_data['previous_amount'])/final_data['previous_amount']

In [17]:
largest_growth = final_data[final_data['delta']==final_data['delta'].max()]['city_id']
biggest_drop = final_data[final_data['delta']==final_data['delta'].min()]['city_id']

In [18]:
biggest_drop

1    43
Name: city_id, dtype: int64

In [19]:
largest_growth

3    44
Name: city_id, dtype: int64

**4. Which partners have ‘pizza’ in their name and are located in Boston? And what is the average order amount? Output the partner name and the average order amount.**

In [20]:
import pandas as pd
data = {
    'id': range(1, 21),
    'customer_id': [102, 104, 100, 101, 103, 102, 103, 101, 101, 103, 102, 104, 100, 100, 104, 102, 102, 100, 104, 101],
    'courier_id': [224, 224, 239, 205, 218, 201, 205, 246, 218, 211, 223, 211, 204, 231, 246, 231, 246, 205, 204, 231],
    'seller_id': [79, 75, 79, 79, 71, 77, 79, 77, 79, 77, 79, 77, 71, 79, 75, 77, 79, 77, 77, 75],
    'order_timestamp_utc': pd.to_datetime([
        '2019-03-11 23:27:00', '2019-04-11 04:24:00', '2019-03-11 21:17:00', '2019-03-11 02:34:00',
        '2019-04-11 00:15:00', '2019-03-11 18:22:00', '2019-04-11 11:15:00', '2019-03-11 04:12:00',
        '2019-03-11 08:59:00', '2019-03-11 00:22:00', '2019-03-11 10:44:00', '2019-03-11 01:37:00',
        '2019-03-11 07:00:00', '2019-03-11 03:12:00', '2019-04-11 08:52:00', '2019-03-11 08:26:00',
        '2019-04-11 01:15:00', '2019-03-11 03:10:00', '2019-04-11 08:14:00', '2019-04-11 10:49:00'
    ]),
    'amount': [155.73, 216.6, 168.69, 210.84, 212.6, 220.83, 94.86, 86.15, 75.52, 15.85, 59.69, 153.61, 190.29, 115.45, 225.91, 158.68, 62.72, 125.65, 129.75, 105.07],
    'city_id': [47, 44, 47, 43, 47, 47, 49, 49, 43, 49, 49, 44, 43, 49, 47, 43, 49, 49, 44, 43]
}
postmates_orders = pd.DataFrame(data)


data = {'id': [43, 44, 47, 49],
        'name': ['Boston', 'Seattle', 'Denver', 'Chicago'],
        'timezone': ['EST', 'PST', 'MST', 'CST']}

postmates_markets = pd.DataFrame(data)


data = {'id': [71, 75, 77, 79],
        'name': ["Papa John's", "Domino's Pizza", "Pizza Hut", "Papa Murphy's"],
        'category': ['Pizza', 'Pizza', 'Pizza', 'Pizza']}
postmates_partners = pd.DataFrame(data)




postmates_markets
postmates_orders
postmates_partners

   id            name category
0  71     Papa John's    Pizza
1  75  Domino's Pizza    Pizza
2  77       Pizza Hut    Pizza
3  79   Papa Murphy's    Pizza

In [21]:
final_partners = postmates_partners[postmates_partners['name'].str.contains('Pizza',case=False,na=False)]['id']
final_city_id = postmates_markets[postmates_markets['name']=='Boston']['id']

In [38]:
postmates_orders[(postmates_orders['seller_id'].isin(final_partners)) & (postmates_orders['city_id'].isin(final_city_id))]['seller_id'].to_list()
final_data = postmates_orders.groupby(['seller_id'])['amount'].mean().reset_index().rename({'amount':'avg amount'},axis=1)
final_data = pd.merge(final_data,postmates_partners,how='left',left_on='seller_id',right_on='id')
final_data[['name','avg amount']]

             name  avg amount
0     Papa John's  201.445000
1  Domino's Pizza  182.526667
2       Pizza Hut  127.217143
3   Papa Murphy's  117.937500

**5. Return the top 2 users in each company that called the most. Output the company_id, user_id, and the user's rank. If there are multiple users in the same rank, keep all of them.**

In [41]:
from io import StringIO
data = """user_id	date	call_id
1218	2020-04-19 01:06:00	0
1554	2020-03-01 16:51:00	1
1857	2020-03-29 07:06:00	2
1525	2020-03-07 02:01:00	3
1271	2020-04-28 21:39:00	4
1181	2020-03-18 04:49:00	5
1950	2020-04-12 23:57:00	6
1339	2020-04-11 02:15:00	7
1910	2020-03-21 08:56:00	8
1093	2020-03-07 15:47:00	9
1859	2020-04-25 13:55:00	10
1079	2020-04-17 16:38:00	11
1519	2020-04-15 12:14:00	12
1854	2020-04-25 19:59:00	13
1968	2020-03-16 21:19:00	14
1891	2020-03-30 23:11:00	15
1575	2020-03-14 15:21:00	16
1162	2020-04-06 18:39:00	17
1503	2020-04-01 18:31:00	18
1884	2020-04-08 08:44:00	19
1854	2020-03-10 10:04:00	20
1525	2020-03-04 14:44:00	21
1181	2020-03-02 17:07:00	22
1503	2020-03-29 11:17:00	23
1859	2020-04-11 14:26:00	24
1859	2020-03-13 23:52:00	25
1859	2020-04-10 00:41:00	26
1854	2020-03-28 00:35:00	27
1891	2020-04-27 22:09:00	28
1181	2020-04-19 06:39:00	29
1525	2020-04-15 22:27:00	30
1093	2020-03-17 15:21:00	31
1857	2020-04-03 02:00:00	32
1884	2020-03-20 14:41:00	33
1950	2020-03-17 11:17:00	34
1162	2020-04-15 03:38:00	35
1162	2020-03-08 06:47:00	36
1891	2020-04-22 01:46:00	37
1554	2020-04-08 05:35:00	38
1910	2020-03-11 08:33:00	39"""


rc_calls = pd.read_csv(StringIO(data), sep="\t")
rc_calls.head(1)

   user_id                 date  call_id
0     1218  2020-04-19 01:06:00        0

In [42]:
from io import StringIO
data = """user_id	status	company_id
1218	free	1
1554	inactive	1
1857	free	2
1525	paid	1
1271	inactive	2
1181	inactive	2
1950	free	1
1339	free	2
1910	free	2
1093	paid	3
1859	free	1
1079	paid	2
1519	inactive	2
1854	paid	1
1968	inactive	2
1891	paid	2
1575	free	2
1162	paid	2
1503	inactive	3
1884	free	1"""

rc_users = pd.read_csv(StringIO(data), sep="\t")
rc_users.head(1)

   user_id status  company_id
0     1218   free           1

In [72]:
total_call_per_user = rc_calls.groupby(['user_id'])['call_id'].count().reset_index().rename({'call_id':'no_of_calls'},axis=1)
rc_users = pd.merge(rc_users,total_call_per_user,how='left')
rc_users['user_rank']=rc_users.groupby(['company_id'])['no_of_calls'].rank(method='dense',ascending=False)
rc_users[rc_users['user_rank']<=2].sort_values(by=['company_id'])
rc_users[rc_users['company_id']==2].sort_values(by=['no_of_calls'],ascending=False)

In [77]:
rc_users[['company_id','user_id','user_rank']]

    company_id  user_id  user_rank
0            1     1218        4.0
1            1     1554        3.0
2            2     1857        2.0
3            1     1525        2.0
4            2     1271        3.0
5            2     1181        1.0
6            1     1950        3.0
7            2     1339        3.0
8            2     1910        2.0
9            3     1093        1.0
10           1     1859        1.0
11           2     1079        3.0
12           2     1519        3.0
13           1     1854        2.0
14           2     1968        3.0
15           2     1891        1.0
16           2     1575        3.0
17           2     1162        1.0
18           3     1503        1.0
19           1     1884        3.0